    
    /* Techkinesis Logo Styling
    -------------------------------------------------- */
	/*To use teckinesis logo call : btn-tk btn-massive btn-yellow btn-tk-logo*/
	/*Style these and inline*/
	
.btn-tk-logo {
  padding: 6px 13px 9px 13px;
      -webkit-box-shadow: 0 0.2em 0 #9E713B;
     -moz-box-shadow: 0 0.2em 0 #9E713B;
          box-shadow: 0 0.2em 0 #9E713B;
  text-shadow: 0 0.1em 0 #9E713B;
  letter-spacing: 2px;
  border-radius: 8px;

  /*Posiitioning on Navbar */
  position: absolute;
  top: 5px;
}

@media (max-width: 768px) {
	.btn-tk-logo{
		margin-left: 20px;
	}
}

#tk_kinesis {
	font-family: "arvo"
}

    /* Navigations Unit
    -------------------------------------------------- */
	/*Full Responsive*/

/*Styles Navigation Bar*/
.nav_bar_style { 
  background-color: transparent; 
  background-image: none;
  box-shadow: none !important;
  border: none;
  padding-right: 0px;
  padding-left: 0px;
}

/*Styles Mini Menu Button*/
.btn-mini-menu {
	background-color: #FBB040 !important; 
	background-image: none !important;
	padding-bottom: 10px !important;	
	padding-top: 10px !important;
}

/*Styles Navigation Bar*/
#nav_items_group a {
	color: #6D6E71;
	font-weight: 500;
}

/*Nav Active Mode*/
.nav_active {
	color: red;
}

/*Removes the margin when using navbar-fixed-up: fixed issue on iphone vertical*/
/*.navbar-fixed-top {
	margin-left: 0px;
	margin-right: 0px;
}
*/

    /* Module One - Hero Unit
    -------------------------------------------------- */
	/*Full Responsive*/

.Hero_image {
	/*background-color: red;*/
	background-image: url("../images/device_bg.png");
	padding-top: 20px;
	padding-bottom: 250px;
	background-position: bottom;
	background-repeat: no-repeat;
	border-bottom: 40px solid #F07B79;
}	

@media (max-width: 767px) {
	.Hero_image {
		padding-bottom: 150px;		
		background-size: 1000px;
	}
}

    /* Module Two - Features Row Unit
    -------------------------------------------------- */
	/* Full Responsive x 4 */

#row_group {
	background-color: #EF716F;
	padding-top: 7em;
	padding-bottom: 6em;
	border-bottom: 40px solid #F07B79;
}	

.row_feature > a > p {
	margin-bottom: 30px; 
}	

#row_group p {
	margin-top: 20px;
}	

.row_feature {
	text-align: center;	
}

@media (max-width: 979px) and (min-width: 768px) {
	.row_feature {
		width: 320px;
	}
	#row_group > div.container {
		margin: 0 auto;
	}
	#row_group .row {
		margin-left: 0px; 
	}
}

@media (max-width: 767px) {
	#row_group p {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}	
}

#row_head {
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

    /* Module Three - Text Unit
    -------------------------------------------------- */
	/* Centered Text  + Button */

.text_unit {
	background-image: url("../images/kindajean_@2X.png");
}


.text_unit_content {
	padding-top: 8em;
	padding-bottom: 8em; 
}

.text_unit_content h3 {
	text-align: center;
	width: 75%;
	margin: 0em auto 2em auto;
	font-size: 2rem;
}

#text_unit_btn {
	height: 50px;
	width: 100%;
}

#text_unit_btn a {
	left: 50%;
	margin-left: -6.2em;
}

    /* Module Five - Image Full Width Unit 
    -------------------------------------------------- */
	/* Full Width Image */

.image_full {
	width: 120%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
	margin: 0 auto;
}

@media (max-width: 1199px) {
	.image_full {
	min-width: 1200px;
	}
}

    /* Module Six - Detail Stack Unit 
    -------------------------------------------------- */
	/* Units are stacked left right, so on */

.detail_unit_bg {
	border-top: 40px solid #FBC067;
	background-color: #FBB852;
	border-bottom: 40px solid #FBB040;
}

	/* Makes text align to the Left */
.detailRight {
	text-align: left;
	margin-top: 1em;
	color: white;
}

	/* Makes text align to the Right */
.detailLeft {
	text-align: right;
	margin-top: 1em;
	color: white;
}

.featurette {
	min-height: 20em;
/*	background-color: red;*/ /*Uncomment to scale to image height*/
	padding-top: 2em;
	width: 90%;
	margin: 2em auto;
}

.feat_img_right {
	margin:0em 2em 2em 5em;
	float: right;
}

.feat_img_left {
	margin:0em 5em 2em 2em;
	float: left;
}

@media (max-width: 767px) {
	.feat_img_right {
		margin:0em 2em 2em 2em;
	}
	.feat_img_left {
		margin:0em 2em 2em 2em;
	}
	.featurette h3 {
		font-size: 1.3em;
	}
}

@media (max-width: 767px) {
	.featurette img {
		width: 200px;
	}
}

@media (max-width: 600px) {
	.featurette h3 {
		clear: both;
		text-align: center;
	}
	.featurette img {
		position: relative;
		left: 50%;
		margin-left: -100px;
		float: none;		
	}
}

    /* Module Seven - Submit Form Unit 
    -------------------------------------------------- */
	/*  */

.SubForm_bg {
	/*background-color: red;	*/
	background-image: url("../images/kindajean_@2X.png");
}
.SubForm_bg h2 {
	text-align: center;
	margin: 0em auto 1em auto;
	color: #EE6765;
}
.SubForm_box {
	margin: 4em auto;
}

.radio.SubForm {
	margin-top: 1.2em;
	margin-bottom: 1em;
}

