    
    /* Techkinesis Logo Styling
    -------------------------------------------------- */
	/*To use teckinesis logo call : btn-tk btn-massive btn-yellow btn-tk-logo*/
	/*Style these and inline*/
	
.btn-tk-logo {
  padding: 6px 13px 9px 13px;
      -webkit-box-shadow: 0 0.2em 0 #9E71B;
     -moz-box-shadow: 0 0.2em 0 #9E713B;
          box-shadow: 0 0.2em 0 #9E713B;
  text-shadow: 0 0.1em 0 #9E713B;
  letter-spacing: 2px;
  border-radius: 8px;

  /*Posiitioning on Navbar */
  position: absolute;
  top: 5px;
}

@media (max-width: 768px) {
	.btn-tk-logo{
		margin-left: 20px;
	}
}

#tk_kinesis {
	font-family: "arvo"
}

    /* Navigations Unit
    -------------------------------------------------- */
	/*Full Responsive*/

.navbar-fixed-top, {
    margin-left: 0px !important;
    margin-right: 0px !important;
}    

/*Styles Navigation Bar*/
.nav_bar_style { 
  background-color: rgba(255,255,255,0.9); 
  background-image: none;
  /*box-shadow: none !important;*/
  border: none;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;

}

/*Styles Mini Menu Button*/
.btn-mini-menu {
	background-color: #FBB040 !important; 
	background-image: none !important;
	padding-bottom: 10px !important;	
	padding-top: 10px !important;
	margin-top: 15px !important;
}

/*Styles Navigation Bar*/
#nav_items_group a {
	color: #6D6E71;
	font-weight: 500;
	text-shadow: none;
	font-size: 1.1em; ;
}
#nav_items_group a:hover {
	color: #FBB040;
	border-bottom: 3px solid #FBB040;
}
#nav_items_group {
	margin-top: 1em;
}

/*Nav Active Mode*/
.nav_active {
	color: red;
}

.brand {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	text-indent: -999px;
	width: 14em;
	height: 2.4em;
	background-position: center;
	margin-left: 0px !important;
}

@media (max-width: 480px) {
	.brand {
		background-size: 90%;
		width: 11.5em;
		padding-left: 0px!important;
		padding-right: 0px!important;
		padding-top: 6px!important;
	}
}

/*Removes the margin when using navbar-fixed-up: fixed issue on iphone vertical*/
/*.navbar-fixed-top {
	margin-left: 0px;
	margin-right: 0px;
}
*/

    /* Module One - Hero Unit
    -------------------------------------------------- */
	/*Full Responsive*/

.Hero_image {
	/*background-color: red;*/
	background-image: url("../images/device_bg.png");
	padding-top: 20px;
	padding-bottom: 250px;
	background-position: bottom;
	background-repeat: no-repeat;
	/*border-bottom: 40px solid #F07B79;*/ 
}	

@media (max-width: 767px) {
	.Hero_image {
		padding-bottom: 150px;		
		background-size: 1000px;
	}
}
.Hero_image button {
	/*margin-left: 0.4em;*/
}

.Hero_image div.container {
	/*width: 95%;*/	
}
.Hero_content {
	width: 95%;
	margin: 0 auto;
}


    /* Module Two - Features Row Unit
    -------------------------------------------------- */
	/* Full Responsive x 4 */

#row_group {
	background-color: #FBC067; 
	padding-top: 7em;
	padding-bottom: 6em;
	border-bottom: 40px solid #FBB040;
}	
.row_feature > a > p {
	margin-bottom: 30px; 
}	
.row_feature b {
	font-weight: bold;
}
#row_group p {
	margin-top: 20px;
}	
#row_group h3 {
	margin-top: 20px;
	text-shadow: 0px 1px 0px #f5f5f5;
	text-align: center;
}	
.row_feature {
	text-align: center;	
}
@media (max-width: 979px) and (min-width: 768px) {
	.row_feature {
		width: 320px;
	}
	#row_group > div.container {
		margin: 0 auto;
	}
	#row_group .row {
		margin-left: 0px; 
	}
}
@media (max-width: 767px) {
	#row_group p {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}	
}
#row_head {
	text-align: center;
	/*color: white;*/
	/*margin-bottom: 50px;*/
}

.row_img {
	/*padding: 4px;*/
	background-color: transparent;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: 0.6em solid white;
}
.row_img:hover {
	background-color: white;
}
    /* Module Three - Text Unit
    -------------------------------------------------- */
	/* Centered Text  + Button */

.text_unit {
	background-image: url("../images/kindajean_@2X.png");
}


.text_unit_content {
	padding-top: 8em;
	padding-bottom: 8em; 
}

.text_unit_content h3 {
	text-align: center;
	width: 75%;
	margin: 0em auto 2em auto;
	font-size: 2rem;
	text-shadow: 0px 2px 0px #f9f9f9;
}

#text_unit_btn {
	height: 50px;
	width: 100%;
}

#text_unit_btn a {
	left: 50%;
	margin-left: -6.2em;
}

    /* Module Four - Image Full Width Unit 
    -------------------------------------------------- */
	/* Full Width Image */

.image_full {
	width: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	margin: 0 auto;
}
    /* Module Five - Image/text Combo Unit
    -------------------------------------------------- */
	/*  */	

.imgtext_unit {
	background-color: #FBC067; 
	padding-top: 5em;
}
.imgtext_unit h3 {
	text-shadow: 0px 1px 0px #f5f5f5;
	font-weight: 500;
}
.imgtext_unit p {
	color: #555;
}
.imgtext_unit img {
	height: auto;
}		
.imgtext {
	/*margin-bottom: 4em;*/
}
@media (max-width: 767px) {
	.imgtext_unit img {
		left: 50%;
		margin-left: -5em;
	}
}
#imgtext_img img{
		margin: 0 auto;
	display: block;

}
    /* Module Six - Detail Stack Unit 
    -------------------------------------------------- */
	/* Units are stacked left right, so on */

.detail_unit_bg {
	/*border-top: 40px solid #808285;*/
	/*background-color: #6D6E71;*/
	background-image: url("../images/pinstriped_suit1.png");
	/*border-bottom: 40px solid #808285;*/
    -webkit-box-shadow: 0 0em 20px rgba(0, 0, 0, 0.8);
     -moz-box-shadow: 0 0em 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0em 20px rgba(0, 0, 0, 0.8);
}

.detail_unit_bg h2 {
	color: #FBB040;
	margin-top: 2em;
	/*margin-bottom: 0.5em;*/
	text-align: center;
}

	/* Makes text align to the Left */
.detailRight {
	text-align: left;
	margin-top: 1em;
	color: white;
}

	/* Makes text align to the Right */
.detailLeft {
	text-align: right;
	margin-top: 1em;
	color: white;
}

.featurette {
	min-height: 20em;
/*	background-color: red;*/ /*Uncomment to scale to image height*/
	padding-top: 2em;
	width: 90%;
	margin: 1em auto;
}
.featurette h3 {
	text-shadow: 0px -1px 0px #ccc;
}

.feat_img_right {
	margin:0em 2em 2em 5em;
	float: right;
}

.feat_img_left {
	margin:0em 5em 2em 2em;
	float: left;
}

@media (max-width: 767px) {
	.feat_img_right {
		margin:0em 2em 2em 2em;
	}
	.feat_img_left {
		margin:0em 2em 2em 2em;
	}
}

@media (max-width: 767px) {
	.featurette img {
		width: 200px;
	}
}

@media (max-width: 600px) {
	.featurette h3 {
		clear: both;
		text-align: center;
		text-shadow: none;
	}
	.featurette img {
		position: relative;
		left: 50%;
		margin-left: -100px;
		float: none;		
	}
}
@media (min-width: 768px) to (max-width: 1199px) {
	.featurette h3 {
		font-size: 1.2rem;
	}
}
@media (min-width: 1200px) {
	.featurette h3 {
		font-size: 1.5rem;
	}
}





    /* Module Seven - Submit Form Unit 
    -------------------------------------------------- */
	/*  */

.SubForm_bg {
	/*background-image: url("../images/kindajean_@2X.png");*/
	background-color: #FBC067; 
}
.SubForm_bg h2 {
	text-align: center;
	margin: 1.8em auto 1em auto;
	/*color: #FBB040;*/
}
.SubForm_box {
	margin: 4em 0 4em 0;
}

.radio.SubForm {
	margin-top: 1.2em;
	margin-bottom: 1em;
}

    /* Module Eight - Pricing Unit
    -------------------------------------------------- */
	/*  */

.price_bg {
	background-color: #FBC067; 
	padding-top: 4em;
	padding-bottom: 4em;
	border-top: 4em solid #FCC68B;
	border-bottom: 4em solid #FCC68B;

}	
.price_unit {
	background-color: #F5F5F5;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: 0.5em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	/*border: 2px solid #888;*/
    -webkit-box-shadow: 0 0em 1em #9E713B;
     -moz-box-shadow: 0 0em 1em #9E713B;
          box-shadow: 0 0em 1em #9E713B;
          padding: 0.4em 0em 2em 0em;
    width: 90%;      
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1199px) to (min-width: 768px) {
	.price_unit {
		width: 100%;
	}
}
@media (max-width: 767px)  {
	.price_unit {
		width: 75%;
	}
}
@media (max-width: 479px) {
	.price_unit {
		width: 100%;
	}
}
.price_unit:hover {
	background-color: white;
	cursor:pointer;
}
.price_unit h2 {
	color: #FBB040;
	text-align: center;
	margin-top: 0.5em;
}
.price_unit p {
	padding: 0.5em 2em 0.5em 2em ;
}
.price_unit ul {
	padding: 0em 2em 0em 2em ;
}
.price_unit ul > li {
	font-size: 1.2em;
	line-height: 1.4em;
}

    /* Module Nine - Full Width Slider Unit
    -------------------------------------------------- */
	/*  */

.carousel_module {
	background-color: red;
	margin-bottom: 0px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.fw_img {
	width: 100%;
}
.custom_arrows {
	color: white;
	opacity: 1;
	background: none;
	border: none;
	font-size: 7em;
	vertical-align: center;

}
.custom_arrows:hover {
	color: #FBB040;
}
#indicator_position {
	/*background-color: red;*/
	top: auto;
	right: auto;
	bottom: 2em;
	left: 50%;
	margin-left:-1.4em;
}

    /* Module Ten - logos Unit
    -------------------------------------------------- */
	/*  */

.logo_unit {
	/*background-color: #6D6E71;*/
	background-image: url("../images/first_aid_kit_2.png");
	padding-top: 2em;
	padding-bottom: 4em;
}
.logo_unit h2 {
	text-align: center;	
}
.logo_unit hr {
  border-top: 1px solid #898989;
  border-bottom: 1px solid #f9f9f9;
}
.logo_unit img {
	padding-top: 1em;
	padding-bottom: 1em;
	left: 50%;
	margin-left: -10em;
	position: relative;
}

@media (min-width:980px) {
	.logo_unit img	{
		margin: 0 auto;	
		left: auto;
	}	
}

    /* Module Eleven - Footer Unit
    -------------------------------------------------- */
	/*  */

.footer_unit {
	/*background-color: #6D6E71;*/
	background-image: url("../images/first_aid_kit.png");
	border-top: 1px solid #898989;
	padding-top: 1em;
	padding-bottom: 1em;
}		
.footer_unit p {
	text-align: center;
}
.footer_col {
	margin-top: 2em;
	margin-bottom: 2em;
}


