    /* Styleguide.css */

/*This stylesheet container repeating styles that are used in Techkinesis Module Web Design Projects. Please style each job accordly and link before modules.css*/

    /* GLOBAL STYLES
    -------------------------------------------------- */


body {
  font-size: 14px;
  font-family: "ubuntu";
  background-image: url("../images/bg_grey.jpg");

  /*Added to remove the 20px side paddings when below 780px*/
  padding-right:0px;
  padding-left:0px;  

  /*use this only if you are using navbar-fixed-top*/
  margin-top: 60px; 
}

  /*use this only if you are using navbar-fixed-top*/
@media (max-width: 979px) {
  body {
    margin-top: 0px;
  }
}


  /*use this only if you are using navbar-fixed-top, see body tag*/
@media (max-width: 979px) {
  .container { 
    margin-left: 20px;
    margin-right:20px;
  }
}

a {
  color: #f9f9f9;
}

a:hover {
  color: #FBB040;
  text-decoration: none;
}

h1 {
  color:#FBB040;
  font-size: 4.0em;
  font-weight: 700;
  text-shadow: 0px 2px 0px #f9f9f9;
  line-height: 1em;
}

h2 {
  font-size: 3em;
  font-weight: 500;
}

h3 {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 100;
  font-family: "arvo";
  color:#555;
}

p {
  font-size: 15px
}

    /* Button Styling
    -------------------------------------------------- */

.btn-tk {
  display: inline-block;
  /**display: inline;*/
  padding: 5px 12px;
  /*margin-bottom: 0;*/
  font-size: 1em;
  line-height: 1em;
  color: white;
  text-align: center;
  text-shadow: 0 0.095em 0 #8A5849;
  vertical-align: middle;
  cursor: pointer;
  background-color: #EF716F;
  border: 1px solid #EF716F;
  font-family: "ubuntu";
  -webkit-border-radius: 0.4em;
     -moz-border-radius: 0.4em;
          border-radius: 0.4em;

  -webkit-box-shadow: 0 0.2em 0 #8A5849;
     -moz-box-shadow: 0 0.2em 0 #8A5849;
          box-shadow: 0 0.em 0 #8A5849;
  position: absolute;

}

.btn-tk:hover {
  -webkit-box-shadow: 0 0.1em 0 #8A5849;
     -moz-box-shadow: 0 0.1em 0 #8A5849;
          box-shadow: 0 0.1em 0 #8A5849;  
  margin-top: 0.1em;          
}

    /* Button Sizing; */

.btn-big {
  font-size: 1.2em;
  padding: 10px 20px;
}

.btn-bigger {
  font-size: 1.5em;
  padding: 13px 30px;
}

.btn-massive {
  font-size: 2.2em;
  padding: 13px 40px;
}

    /* Button Colors; */

.btn-yellow {
  background-color: #FBB040;
  border: 1px solid #FBB040;
    -webkit-box-shadow: 0 0.2em 0 #9E713B;
     -moz-box-shadow: 0 0.2em 0 #9E713B;
          box-shadow: 0 0.2em 0 #9E713B;
  /*text-shadow: 0 0.09em 0 #9E713B;*/
}



