    /* Styleguide.css */

/*This stylesheet container repeating styles that are used in Techkinesis Module Web Design Projects. Please style each job accordly and link before modules.css*/

    /* GLOBAL STYLES
    -------------------------------------------------- */


body {
  font-size: 14px;
  font-family: "ubuntu";
  background-image: url("../images/bg_grey.jpg");

  /*Added to remove the 20px side paddings when below 780px*/
  padding-right:0px;
  padding-left:0px;  

  /*use this only if you are using navbar-fixed-top*/
  margin-top: 60px; 
}

  /*use this only if you are using navbar-fixed-top*/
@media (max-width: 979px) {
  body {
    margin-top: 0px;
  }
}
  /*use this only if you are using navbar-fixed-top, see body tag*/
@media (max-width: 979px) {
  .container { 
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

a {
  color: #6D6E71;
}

a:hover {
    color: #FBB040;
    text-decoration: none;
}

h1 {
  color:#6D6E71;
  font-size: 3.8em;
  font-weight: 700;
  text-shadow: 0px 2px 0px #f9f9f9;
  line-height: 1em;
}

@media (max-width: 480px) {
  h1 {
    font-size: 3.0em;
  }
}


h2 {
  font-size: 3.3em;
  font-weight: 500;
  font-family: "Arvo";
  color: #6D6E71;
  text-shadow: 0px 1px 0px #f5f5f5;
  line-height: 1.2em;
}

@media (max-width:320px) {
  h2 {
    font-size: 2.5em !important;
  }
}

h3 {
  font-size: 1.6em;
  line-height: 1.7em;
  font-weight: 100;
  font-family: "ubuntu";
  color:#6D6E71;
}

@media (max-width:480px) {
  h3 {
    font-size: 1.4em !important;
  }
}

h6 {
  font-size: 1.3em;
  font-weight: 400;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
  display: inline;
}


    /* Button Styling
    -------------------------------------------------- */

.btn-tk {
  display: block;
  padding: 5px 12px;
  font-size: 1em;
  line-height: 1em;
  color: white;
  text-align: center;
  text-shadow: 0 0.095em 0 #8A5849;
  vertical-align: middle;
  cursor: pointer;
  background-color: #FBB040;
  border: 1px solid #FBB040;
  font-family: "ubuntu";
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
    -webkit-box-shadow: 0 0.2em 0 #9E713B;
     -moz-box-shadow: 0 0.2em 0 #9E713B;
          box-shadow: 0 0.2em 0 #9E713B;
  position: relative;
}
a.btn-tk:hover {
  color: white;
}

.btn-tk:active {
  -webkit-box-shadow: 0 0.1em 0 #8A5849;
     -moz-box-shadow: 0 0.1em 0 #8A5849;
          box-shadow: 0 0.1em 0 #8A5849;  
  top: 0.1em;
}

    /* Button Sizing; */

.btn-big {
  font-size: 1.2em;
  padding: 10px 20px;
}

.btn-bigger {
  font-size: 1.5em;
  padding: 13px 30px;
}

.btn-massive {
  font-size: 2.0em;
  padding: 13px 30px;
}

    /* Button Colors; */

  /* Button Positioning */

.btn-center {
  margin:0 auto;
}

.btn-right {
  float: right;
}

.btn-left {
  float: left;
}

    /* Form Styling
    -------------------------------------------------- */

input.form-normal {
  padding-top: 1.2em;
  padding-bottom: 1.0em;
  font-family:"ubuntu";
  font-size: 1.5em;
  text-indent: 0.3em;
  width: 100%;
  margin: 0.5em 0 0.5em 0; 
  border-radius: 0;
  /*-web-appearance:none;*/
  border: none;
}

.area_normal {
  /*background-color: red;*/
  width: 100%;
  font-size: 1.5em;
  font-family: "ubuntu";
  border-radius: 0;
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0; 
  border: none;
}
input.form-normal:hover {
  box-shadow: 0 0 2px rgba(0 0 0 0.8) !important;  
}

.area_normal:focus {
  box-shadow: 0 0 2px rgba(0 0 0 0.8) !important;   
}
.Subform p {
  color: #58595B;

    /* Form Styling
    -------------------------------------------------- */

hr {
  margin: 1em 2.4em;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}



